body {
  margin: 0;
  }
* { 
  font-family: sans-serif;
  box-sizing: border-box;
}

.coteneur {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid (166, 164, 164);
  padding: 20px;
}

h1{
  color: white;
  background-color: royalblue;
  padding: 20px;
}
